@namespace Tailwind.ApplicationUi.Navigation.Navbars.SimpleDarkWithMenuButtonOnLeft
<!-- Mobile menu button-->
<button class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:bg-gray-700 focus:text-white transition duration-150 ease-in-out" aria-label="Main menu" aria-expanded="false">
  <!-- Icon when menu is closed. -->
  <!-- Menu open: "hidden", Menu closed: "block" -->
  <HeroIcons.Solid.MenuIcon class="block h-6 w-6"/>
  <!-- Icon when menu is open. -->
  <!-- Menu open: "block", Menu closed: "hidden" -->
  <HeroIcons.Solid.X_Icon class ="hidden h-6 w-6"/>
</button>
