@page "/"
@namespace TimeWarp.Blazor.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using TimeWarp.Blazor.Components

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>TimeWarp.Blazor</title>
  <base href="~/" />

  <!-- add inter font -->
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

  <!-- Compiled Tailwind CSS -->
  <link href="css/site.css" rel="stylesheet" />

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="manifest.json" />
</head>
<body class="antialiased font-sans">
  <div id="app">@(await Html.RenderComponentAsync<App>(RenderMode.Server))</div>
  
  <script src="_content/Blazor-State/blazorstate.js"></script>
  <script type="module" src="js/Main.js"></script>
</body>
</html>
