@namespace TimeWarp.Architecture.Features.Sidebars

<li>
  <div class="text-xs font-semibold leading-6 text-gray-500">External links</div>
  <ul role="list" class="-mx-2 mt-2 space-y-1">
    <SidebarLink Href="https://thefreezeteam.com/" Target=SidebarLink.TargetValue._blank>
      <SvgIcon>
        <TimeWarp.HeroIcons.Outline.LinkIcon class="h-5 w-5"/>
      </SvgIcon>
      <ChildContent>
        The Freeze Team
      </ChildContent>
    </SidebarLink>
    <SidebarLink Href="https://github.com/TimeWarpEngineering/timewarp-architecture" Target=SidebarLink.TargetValue._blank>
      <SvgIcon>
        <TimeWarp.Simple.Icons.GithubIcon class="w-5 h-5 fill-slate-400"/>
      </SvgIcon>
      <ChildContent>
        GitHub
      </ChildContent>
    </SidebarLink>
  </ul>
</li>
