@namespace TimeWarp.Architecture.Features.Sidebars

<li>
  <ul role="list" class="-mx-2 space-y-1">
    <SidebarLink Href=@HomePage.GetPageUrl()>
      <SvgIcon>
        <TimeWarp.HeroIcons.Outline.HomeIcon class="h-5 w-5"/>
      </SvgIcon>
      <ChildContent>
        Home
      </ChildContent>
    </SidebarLink>
  </ul>
</li>
