@namespace TimeWarp.Architecture.Components
@inherits ParentComponent

<div @attributes=Attributes class=@CssBuilder role="alert">
  <strong class="font-bold">@Title</strong>
  <span class="block sm:inline">@ChildContent</span>
</div>
