@namespace TimeWarp.Architecture.Features.Counters.Components

@inherits BaseComponent

<div data-qa="@TestId" @attributes=Attributes >
  <p>Current count: @CounterState.Count</p>

  <FluentButton Appearance=Appearance.Accent OnClick=ButtonClick>Click me</FluentButton>
</div>

@code
{
  protected async Task ButtonClick() => await Send(new CounterState.IncrementCounter.Action(Amount: 5));
}
