@namespace TimeWarp.Blazor.Components
@inherits ParentComponent


<div @attributes=Attributes class=@CssBuilder role="alert">
  <strong class="font-bold">@Title</strong>
  <span class="block sm:inline">@ChildContent</span>
</div>

@code{
  [Parameter] public string Title { get; set; }

  private readonly string BaseClasses =
    "bg-positive-100 border border-positive-400 text-positive-700 px-4 py-3 rounded relative";

  private CssBuilder CssBuilder =>
    new CssBuilder(BaseClasses)
    .AddClassFromAttributes(Attributes);
}
