@page "/design/tailwind/colors"

<div class="flex flex-col">
  <h2>Color palette</h2>
  <div>
    <TimeWarp.Blazor.Features.Design.Components.ColorBar TailwindColor="primary" />
    <TimeWarp.Blazor.Features.Design.Components.ColorBar TailwindColor="secondary" />
    <TimeWarp.Blazor.Features.Design.Components.ColorBar TailwindColor="accent" />
    <TimeWarp.Blazor.Features.Design.Components.ColorBar TailwindColor="danger" />
    <TimeWarp.Blazor.Features.Design.Components.ColorBar TailwindColor="warning" />
    <TimeWarp.Blazor.Features.Design.Components.ColorBar TailwindColor="positive" />
    <TimeWarp.Blazor.Features.Design.Components.ColorBar TailwindColor="gray" />
  </div>
</div>
