@namespace TimeWarp.Architecture.Components

<h3>FormContainer</h3>

@code {
    [Parameter] public RenderFragment MainContent { get; set; }
    [Parameter] public RenderFragment TitleContent { get; set; }
    [Parameter] public RenderFragment ActionContent { get; set; }
    [Parameter] public RenderFragment TitleButtonContent { get; set; }
}
