@namespace TimeWarp.Architecture.Components

<ModalContainer ModalId=@ModalId OnActivate=Activate>
  <MainContent>
    <div class="mx-auto flex h-12 w-12 items-center justify-center rounded-full bg-green-100">
        <svg class="h-6 w-6 text-green-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
        </svg>
    </div>
    <div class="mt-3 text-center sm:mt-5">
        <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">You Rock!</h3>
        <div class="mt-2">
            <p class="text-sm text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur amet labore.</p>
        </div>
    </div>
  </MainContent>
</ModalContainer>

@code
{
    public static string ModalId = nameof(AboutModal);
    protected Task Activate() => Task.CompletedTask;
}
