@inherits TimeWarpPageSubComponentBase

@code
{
  protected override void OnInitialized()
  {
    base.OnInitialized();
    BaseCssClass = "aside-pane_header";
  }
}

<div class=@BaseCssBuilder>
  @TimeWarpPage?.AsidePane_HeaderContent
</div>
