@namespace TimeWarp.Blazor.Design
@page "/Design"

<ul class="ml-10">
  <li>
    <NavLink class="nav-link" href=@ColorPalettePage.GetRoute()>Colors</NavLink>
  </li>
  <li>
    <NavLink class="nav-link" href=@IconsPage.GetRoute()>Icons</NavLink>
  </li>
  <li>
    <NavLink class="nav-link" href=@ButtonsPage.GetRoute()>Buttons</NavLink>
  </li>
  <li>
    <NavLink class="nav-link" href=@StacksPage.GetRoute()>Stacks</NavLink>
  </li>
</ul>

@code
{
  private const string RouteTemplate = "/Design";

  public static string GetRoute() => RouteTemplate;
}
