@namespace TimeWarp.Architecture.Features.Applications.Components.NavBars.Dark
@inherits BaseComponent
<!-- Profile dropdown -->
<div class="relative ml-3">
  <div>
    <ProfileButton @onclick=OnClickHandler />
  </div>

  <ProfileMenuPanel Id=@nameof(ProfileMenuPanel) class=@CssBuilder />
</div>

