@namespace TimeWarp.Architecture.Features.Applications.Components.NavBars.Dark

<div class="py-1 bg-white rounded-md shadow-xs" role="menu" aria-orientation="vertical" aria-labelledby="user-menu">
  <ProfileMenuNavLink href=@ProfilePage.GetPageUrl() role="menuitem">Your Profile</ProfileMenuNavLink>
  <ProfileMenuNavLink href=@SettingsPage.GetPageUrl() role="menuitem">Settings</ProfileMenuNavLink>
  <ProfileMenuNavLink href=@LogoutPage.GetPageUrl() role="menuitem">Sign out</ProfileMenuNavLink>
</div>
