@namespace TimeWarp.Architecture.Pages
@inherits BaseComponent

@code
{
  private static string Title => "Chat";
  public static readonly RenderFragment NavLink =
    @<FluentNavLink Icon=@(new Icons.Regular.Size20.Home()) Href=@GetPageUrl() Match=NavLinkMatch.All>@Title</FluentNavLink>;
}
<PageTitle>TimeWarp.Architecture Chat</PageTitle>
<StackedPage>
    <HeaderContent>Chat</HeaderContent>
    <MainContent>
        <div class="form-group">
          <label for="user">Alias</label>
          <input type="text" class="form-control" id="user" @bind=User />
        </div>
        <div class="form-group">
          <label for="message">Message</label>
          <input type="text" class="form-control" id="message" @bind=Message @onkeydown=HandleKeyDown />
        </div>
        <FluentButton Appearance=Appearance.Accent OnClick=SendMessage>Send</FluentButton>

        <hr />

        <ul class="list-group">
            @foreach (ChatState.ChatMessage chatMessage in ChatMessages.AsEnumerable())
            {
              <li class="list-group-item">@chatMessage.User: @chatMessage.Message</li>
            }
        </ul>
    </MainContent>
</StackedPage>


