@namespace TimeWarp.Architecture.Features.Counters.Components
@using TimeWarp.Architecture.Features
@inherits BaseComponent

<div data-qa="@TestId" @attributes=Attributes >
  <p>Current count: @CounterState.Count</p>

  <Button Variant=Button.ButtonVariant.Default @onclick=ButtonClick>Click me</Button>
</div>
