@namespace __RootNamespace__.Features.__FeatureName__s.Pages
@inherits BaseComponent
@page "/__FeatureName__s"

  <div data-qa="@TestId">
    <br />
    <h1>Edit</h1>
    <EditForm Model=@Save__FeatureName__Request OnValidSubmit=@HandleValidSubmit>
      <Validate />
      <ValidationSummary />
      <div class="form-group">
        <label for="Name">Name</label>
        <InputText @bind-Value=Update__FeatureName__Request.Name class="form-control" id="Name" />
      </div>
      <input type="submit" class="btn btn-primary" value="Save" />
      <button class="btn btn-primary" @onclick=@CancelClick>Cancel</button>
    </EditForm>


  </div>