@namespace __RootNamespace__.Features.__FeatureName__s.Pages
@inherits BaseComponent
@page "/__FeatureName__s"

<div data-qa="@TestId">
  <br />
  <h1>__FeatureName__s</h1>

  <p>Current count: @__FeatureName__State.__FeatureName__s.Count</p>

  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Column A</th>
        <th>Column B</th>
        <th>Column C</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @foreach (var connection in __FeatureName__State.__FeatureName__AsList)
      {
        <tr>
          <td>@__FeatureName__.Id</td>
          <td>Attribute A</td>
          <td>Attribute B</td>
          <td>Attribute C</td>
          <td>
            <a href=@Pages.Edit.GetRoute(__FeatureName__.Id)>
              Edit
            </a>
            |
            @*<a href=@Pages.Details.GetRoute(__FeatureName__.Id)>
              Details
            </a>*@
            |
            @*<a href=@Pages.Delete.GetRoute(__FeatureName__.Id)>
              Delete
            </a>*@
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>