@namespace TimeWarp.Architecture.Pages

<h1 class="text-xl font-bold">Registered Services</h1>

<ServiceList Title="IPipelineBehavior" Services=IPipelineBehaviors />
<ServiceList Title="IRequestPreProcessor" Services=IRequestPreProcessors />
<ServiceList Title="IRequestPostProcessor" Services=IRequestPostProcessors />
<ServiceList Title="IStreamPipelineBehavior" Services=IStreamPipelineBehaviors />
