@namespace TimeWarp.Architecture.Pages

<SidebarPage>
  <MainContent>
    <Button @onclick=OnClickHandler>Click Me</Button>
    <Transition
      Show=IsOpen
      Enter="transition-opacity duration-75"
      EnterFrom="opacity-0"
      EnterTo="opacity-100"
      Leave="transition-opacity duration-150"
      LeaveFrom="opacity-100"
      LeaveTo="opacity-0"
    >
      I will fade in and out when this component is working correctly.
    </Transition>
    <span>IsOpen:@IsOpen</span>
  </MainContent>
</SidebarPage>

@code{
  private bool IsOpen { get; set; }

  private void OnClickHandler()
  {
    Console.WriteLine("Clicked");
    IsOpen = !IsOpen;
  }
}

