@namespace TimeWarp.Architecture.Features.Sidebars

<div class="flex grow flex-col gap-y-5 overflow-y-auto bg-gray-900 px-6 pb-4">
  <div class="flex h-16 shrink-0 items-center justify-center">
    <TimeWarp.Architecture.Features.Application.Components.NavBar.Components.Logo class="h-16 w-auto"/>
  </div>
  <nav class="flex flex-1 flex-col">
    <ul role="list" class="flex flex-1 flex-col gap-y-4">
      <TopSidebarNavSection />
      <PagesSidebarNavSection />
      <DeveloperPagesSidebarNavSection/>
      <SwaggerDocsSidebarNavSection />
      <ExternalLinksSidebarNavSection />
      <BottomSidebarNavSection />
    </ul>
  </nav>
</div>
