@namespace TimeWarp.Architecture.Pages
@using TimeWarp.Architecture.Features.Sidebars
@inherits BaseComponent
<PageTitle>Counter Page</PageTitle>

<SidebarPage>
  <HeaderContent>Counter Page</HeaderContent>
  <MainContent>
    <h1 class="text-2xl font-bold leading-tight text-gray-900">Counter Display 1</h1>
    <Counter TestId="Counter1" />

    <hr class="mt-4" />
    <h1 class="mt-4 text-2xl font-bold leading-tight text-gray-900">Counter Display 2</h1>
    <Counter TestId="Counter2" />

    <hr class="mt-4" />
    <Text class="mt-4 block">Reset button will clear all state in the Store and return you to the home page</Text>
    <FluentButton Appearance=Appearance.Accent Id=@Id data-qa=@TestId OnClick=ResetButtonClick>Reset Store</FluentButton>

    <hr class="mt-4" />
    <Text class="mt-4 block">Click below to send a Change Route Request that should take back to home page.</Text>
    <FluentButton Appearance=Appearance.Accent data-qa="ChangeRoute" OnClick=ButtonClick>Change Route to Home</FluentButton>

    <hr class="mt-4" />
    <Text class="mt-4 block">Click below to send a IncrementCountAction via JsInterop.</Text>

    <FluentButton Appearance=Appearance.Accent data-qa="JsInterop" OnClick=IncrementCountViaJsInterop >Increment Count by 7 via JavaScript Interop</FluentButton>
  </MainContent>
</SidebarPage>

@inject IJSRuntime JsRuntime
@code {
  private async Task IncrementCountViaJsInterop()
  {
    await JsRuntime.InvokeVoidAsync("Spa.Counter.DispatchIncrementCountAction");
  }
}
