@namespace TimeWarp.Blazor.Features.EventStreams.Client
@using TimeWarp.Blazor.Features.Bases.Client
@inherits BaseComponent
<h6>Event Stream</h6>
<ul>
  @foreach (var item in Events)
  {
    <li>@item</li>
  }
</ul>
