@namespace TimeWarp.Architecture.Features.Applications.Components.NavBars.Dark

<div class="hidden sm:block sm:ml-6">
  <div class="flex">
    <NavBarLink Href="#">Home</NavBarLink>
    <NavBarLink Href=@CounterPage.GetRoute()>Counter</NavBarLink>
  </div>
</div>
