@namespace TimeWarp.Architecture.Features.Applications.Components.NavBars.Dark

<div class="hidden sm:block sm:ml-6">
  <div class="flex">
    <NavBarLink Href="#">Home</NavBarLink>
    <NavBarLink Href=@CounterPage.GetRoute()>Counter</NavBarLink>
    <NavBarLink Href=@WeatherForecastsPage.GetRoute()>Weather Forecasts</NavBarLink>
    
    @*#if (grpc)*@
    <NavBarLink Href=@SuperheroPage.GetRoute()>Superhero</NavBarLink>
    @*#endif*@

    <NavBarLink Href="https://thefreezeteam.com/" Target=NavBarLink.TargetValue._blank>The Freeze Team</NavBarLink>
    <NavBarLink Href="https://timewarpengineering.github.io">GitHub</NavBarLink>
    <NavBarLink Href="/api/web-server/swagger/" Target=NavBarLink.TargetValue._blank>Web-Server Docs</NavBarLink>
    <NavBarLink Href="/api/api-server/swagger/" Target=NavBarLink.TargetValue._blank>Api-Server Docs</NavBarLink>
  </div>
</div>
