@namespace TimeWarp.Architecture.Features.Applications.Components.NavBars.Dark

<div class="hidden sm:block sm:ml-6">
  <div class="flex">
    <NavBarLink Href="#">Home</NavBarLink>
    @*#if (counter)*@
    <NavBarLink Href=@CounterPage.GetPageUrl()>Counter</NavBarLink>
    @*#endif*@
    @*#if (eventStream)*@
    <NavBarLink Href=@EventStreamPage.GetPageUrl()>Event Stream</NavBarLink>
    @*#endif*@
    @*#if (api)*@
    <NavBarLink Href=@WeatherForecastsPage.GetPageUrl()>Weather Forecasts</NavBarLink>
    @*#endif*@
    @*#if (grpc)*@
    <NavBarLink Href=@SuperheroPage.GetPageUrl()>Superhero</NavBarLink>
    @*#endif*@
    <NavBarLink Href=@ChatPage.GetPageUrl()>Chat</NavBarLink>
    <NavBarLink Href="https://thefreezeteam.com/" Target=NavBarLink.TargetValue._blank>The Freeze Team</NavBarLink>
    <NavBarLink Href="https://timewarpengineering.github.io">GitHub</NavBarLink>
    @*#if (web)*@
    @*#endif*@
    <NavBarLink Href="/api/web-server/swagger/" Target=NavBarLink.TargetValue._blank>Web-Server Docs</NavBarLink>
    @*#if (api)*@
    <NavBarLink Href="/api/api-server/swagger/" Target=NavBarLink.TargetValue._blank>Api-Server Docs</NavBarLink>
    @*#endif*@
  </div>
</div>
