@namespace TimeWarp.Architecture.Features.Sidebars
@inherits DisplayComponent

<button
  type="button"
  class="-m-2.5 p-2.5 text-gray-700 lg:hidden"
  aria-label="Open sidebar"
  @attributes=Attributes
>
  <TimeWarp.HeroIcons.Outline.Bars3Icon class="h-6 w-6"/>
</button>
