@namespace TimeWarp.Blazor.Components
@inherits BaseComponent

<div class="min-h-screen flex flex-col font-sans">
  @if (ShowNavBar)
  {
    <DarkNavBar />
  }

  @if (HeaderContent != null)
  {
    <header class="bg-white shadow" data-qa="HomeHeader">
      <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold leading-tight text-gray-900">
          @HeaderContent
        </h1>
      </div>
    </header>
  }

  <main class="flex-grow">
    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
      @if (@MainContent != null)
      {
        @MainContent
      }
      else
      {
        <div class="border-4 border-dashed border-gray-200 rounded-lg h-full">
          Add Your Content here.
        </div>
      }
    </div>
  </main>
  @if (ShowFooter)
  {
      @if (SiteFooterContent != null)
      {
        <SiteFooter>
          <SiteFooterContent>
            @SiteFooterContent
          </SiteFooterContent>
        </SiteFooter>
      } else
      {
        <SiteFooter/>
      }
  }
</div>
