@namespace Tailwind.ApplicationUi.Navigation.Navbars.SimpleDarkWithMenuButtonOnLeft
  <!-- Profile dropdown -->
  <div class="ml-3 relative">
    <div class="">
      <ProfileButton />
    </div>
    <!--
      Profile dropdown panel, show/hide based on dropdown state.

      Entering: "transition ease-out duration-100"
        From: "transform opacity-0 scale-95"
        To: "transform opacity-100 scale-100"
      Leaving: "transition ease-in duration-75"
        From: "transform opacity-100 scale-100"
        To: "transform opacity-0 scale-95"
    -->
    <div class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg">
      <ProfileMenuPanel />
    </div>
  </div>
