@namespace TimeWarp.Blazor.Features.Applications.Components.NavBars.Dark
@inherits BaseComponent

<div class="flex-shrink-0">
  <img class="block lg:hidden h-8 w-auto" src="@ApplicationState.Logo" alt="TimeWarp.Blazor logo">
  <img class="hidden lg:block h-8 w-auto" src="@ApplicationState.Logo" alt="TimeWarp.Blazor logo">
</div>
