@namespace TimeWarp.Architecture.Features.Applications.Components.NavBars.Dark
@inherits DisplayComponent

<button
  id="user-menu"
  class="text-gray-400 hover:text-white flex text-sm border-2 border-transparent rounded-full focus:outline-none focus:text-white focus:border-white focus:bg-gray-700 transition duration-150 ease-in-out"
  aria-label="User menu"
  aria-haspopup="true"
  @attributes=Attributes>

  <TimeWarp.HeroIcons.Outline.UserCircleIcon class="h-8 w-8 rounded-full" />
</button>
