@namespace TimeWarp.Blazor.Components
@inherits BaseComponent
@using TimeWarp.Blazor.Features.Bases.Client;

<div id="@Id" data-qa="@TestId">
  <button class="btn btn-primary" @onclick="ButtonClick">Reset Store</button>
</div>
