@namespace Tailwind.ApplicationUi.Navigation.Navbars.SimpleDarkWithMenuButtonOnLeft

<div class="hidden sm:block sm:ml-6">
  <div class="flex">
    <NavBarLink Href="#">Dashboard</NavBarLink>
    <NavBarLink Href="#">Team</NavBarLink>
    <NavBarLink Href="#">Projects</NavBarLink>
    <NavBarLink Href="#">Calendar</NavBarLink>
  </div>
</div>
