@namespace TimeWarp.Blazor.Components
@inherits DisplayComponent

<button class=@CssClass @attributes=Attributes @onclick=@OnClickHandler>
   @SvgIcon
   @if(ButtonText == null)
   {
     @ChildContent
   }
   else
   {
    @ButtonText
   }
</button>
