@inherits TimeWarpPageSubComponentBase

@code
{
  protected override void OnInitialized()
  {
    base.OnInitialized();
    BaseClass = "page-pane_footer";
  }
}

<div class=@BaseCssBuilder>
  @TimeWarpPage?.PagePane_FooterContent
</div>
