@inherits TimeWarpPageSubComponentBase

@code
{
  protected override void OnInitialized()
  {
    base.OnInitialized();
    BaseCssClass = "page-pane_header";
  }
}

<div class=@BaseCssBuilder>
  @TimeWarpPage?.PagePane_HeaderContent
</div>
