@namespace TimeWarp.Architecture.Features.ProfileMenus.Components
@inherits BaseComponent

<div class=@CssBuilder role="menu" aria-orientation="vertical" aria-labelledby="user-menu" @attributes=Attributes>
  <ProfileMenuNavLink href=@ProfilePage.GetPageUrl() role="menuitem">Your Profile</ProfileMenuNavLink>
  <ProfileMenuNavLink href=@SettingsPage.GetPageUrl() role="menuitem">Settings</ProfileMenuNavLink>
  <ProfileMenuNavLink href=@LogoutPage.GetPageUrl() role="menuitem">Sign out</ProfileMenuNavLink>
  <ProfileMenuNavLink href=@LoginPage.GetPageUrl() role="menuitem">Sign in</ProfileMenuNavLink>
</div>
