@namespace TimeWarp.Architecture.Pages
@using TimeWarp.Architecture.Features.Sidebars
@using TimeWarp.Architecture.Components.Pages.SitePage
@inherits BaseComponent

@inject ILogger<HomePage> Logger
@code
{
  private bool ShowOld = true;
  private async Task FiveSecondTaskButtonClick() =>
    await ApplicationState.FiveSecondTask(CancellationToken.None);

  private async Task TwoSecondTaskButtonClick() =>
    await ApplicationState.TwoSecondTask(CancellationToken.None);

  private async Task ModalButtonClick() =>
    await ApplicationState.SetActiveModal(AssemblyInfoModal.ModalId);

  protected override void OnInitialized()
  {
    base.OnInitialized();
    Logger.LogDebug("This is a debug message");
    Logger.LogInformation("This is an info message");
    Logger.LogWarning("This is a warning message");
    // Logger.LogError("This is an error message");
    // Logger.LogCritical("This is a critical message");
  }
}
@if (ShowOld)
{
  <SidebarPage>
    <HeaderContent>
      @ApplicationState.Name
    </HeaderContent>

    <MainContent>
      <FluentStack Orientation=Orientation.Vertical>
        <FluentLabel Typo=Typography.Body>
          Welcome to your new
          <NavLink href="https://github.com/TimeWarpEngineering/timewarp-architecture">TimeWarp Architecture</NavLink>
          app with
          <ul>
            <li>
              <NavLink href="https://www.nuget.org/profiles/TimeWarp.Enterprises">TimeWarp.Enterprises nugets</NavLink>
            </li>
            <li>
              <NavLink href="https://timewarpengineering.github.io/timewarp-state/"> Blazor State</NavLink>
            </li>
            <li>
              <NavLink href="https://github.com/jbogard/MediatR" target="blank">MediatR.</NavLink>
            </li>
            <li>
              <NavLink href="https://chrome.google.com/webstore/detail/redux-devtools/lmhkpmbekcpmknklioeibfkpmmfibljd?hl=en" target="blank">Redux Dev Tools Chrome Extension </NavLink>
            </li>
          </ul>
        </FluentLabel>

        <SimpleAlert class="mt-4 w-fit" Title="Alert">
          This site is built with
          <NavLink href="https://github.com/microsoft/fluentui-blazor" target="blank">Fluent UI</NavLink>
          and
          <HyperLink href="https://tailwindcss.com/" target="blank">Tailwind css</HyperLink>
        </SimpleAlert>

        <img alt="Solid Team" class="w-full" src="/images/TheFreezeTeam/SOLID_Team.png" />
        <div>
          <FluentButton Appearance="Appearance.Accent" OnClick=FiveSecondTaskButtonClick>Launch Five Second Task</FluentButton>
          <FluentButton Appearance="Appearance.Accent" OnClick=TwoSecondTaskButtonClick>Launch Two Second Task</FluentButton>
          <FluentButton Appearance="Appearance.Accent" OnClick=ModalButtonClick>Show Modal</FluentButton>
        </div>

        <FluentLabel Typo="Typography.Body"> Example 'Body' label </FluentLabel>
        <FluentLabel Typo="Typography.Subject"> Example 'Subject' label </FluentLabel>
        <FluentLabel Typo="Typography.Header"> Example 'Header' label </FluentLabel>
        <FluentLabel Typo="Typography.PaneHeader"> Example 'PaneHeader' label </FluentLabel>
        <FluentLabel Typo="Typography.EmailHeader"> Example 'EmailHeader' label </FluentLabel>
        <FluentLabel Typo="Typography.PageTitle"> Example 'PageTitle' label </FluentLabel>
        <FluentLabel Typo="Typography.HeroTitle"> Example 'HeroTitle' label </FluentLabel>
        <FluentLabel Typo="Typography.H1"> Example 'H1' label </FluentLabel>
        <FluentLabel Typo="Typography.H2"> Example 'H2' label </FluentLabel>
        <FluentLabel Typo="Typography.H3"> Example 'H3' label </FluentLabel>
        <FluentLabel Typo="Typography.H4"> Example 'H4' label </FluentLabel>
        <FluentLabel Typo="Typography.H5"> Example 'H5' label </FluentLabel>
        <FluentLabel Typo="Typography.H6"> Example 'H6' label </FluentLabel>

      </FluentStack>
    </MainContent>
  </SidebarPage>
}
else
{
  <SitePage>
    <PagePane_HeaderContent>
      @ApplicationState.Name
    </PagePane_HeaderContent>
    <PagePane_MainContent>
      <FluentStack Orientation=Orientation.Vertical>
        <FluentLabel Typo=Typography.Body>
          Welcome to your new
          <NavLink href="https://github.com/TimeWarpEngineering/timewarp-architecture">TimeWarp Architecture</NavLink>
          app with
          <ul>
            <li>
              <NavLink href="https://www.nuget.org/profiles/TimeWarp.Enterprises">TimeWarp.Enterprises nugets</NavLink>
            </li>
            <li>
              <NavLink href="https://timewarpengineering.github.io/timewarp-state/"> Blazor State</NavLink>
            </li>
            <li>
              <NavLink href="https://github.com/jbogard/MediatR" target="blank">MediatR.</NavLink>
            </li>
            <li>
              <NavLink href="https://chrome.google.com/webstore/detail/redux-devtools/lmhkpmbekcpmknklioeibfkpmmfibljd?hl=en" target="blank">Redux Dev Tools Chrome Extension </NavLink>
            </li>
          </ul>
        </FluentLabel>

        <SimpleAlert class="mt-4 w-fit" Title="Alert">
          This site is built with
          <NavLink href="https://github.com/microsoft/fluentui-blazor" target="blank">Fluent UI</NavLink>
          and
          <HyperLink href="https://tailwindcss.com/" target="blank">Tailwind css</HyperLink>
        </SimpleAlert>

        <img alt="Solid Team" class="w-full" src="/images/TheFreezeTeam/SOLID_Team.png" />
        <div>
          <FluentButton Appearance="Appearance.Accent" OnClick=FiveSecondTaskButtonClick>Launch Five Second Task</FluentButton>
          <FluentButton Appearance="Appearance.Accent" OnClick=TwoSecondTaskButtonClick>Launch Two Second Task</FluentButton>
          <FluentButton Appearance="Appearance.Accent" OnClick=ModalButtonClick>Show Modal</FluentButton>
        </div>

        <FluentLabel Typo="Typography.Body"> Example 'Body' label </FluentLabel>
        <FluentLabel Typo="Typography.Subject"> Example 'Subject' label </FluentLabel>
        <FluentLabel Typo="Typography.Header"> Example 'Header' label </FluentLabel>
        <FluentLabel Typo="Typography.PaneHeader"> Example 'PaneHeader' label </FluentLabel>
        <FluentLabel Typo="Typography.EmailHeader"> Example 'EmailHeader' label </FluentLabel>
        <FluentLabel Typo="Typography.PageTitle"> Example 'PageTitle' label </FluentLabel>
        <FluentLabel Typo="Typography.HeroTitle"> Example 'HeroTitle' label </FluentLabel>
        <FluentLabel Typo="Typography.H1"> Example 'H1' label </FluentLabel>
        <FluentLabel Typo="Typography.H2"> Example 'H2' label </FluentLabel>
        <FluentLabel Typo="Typography.H3"> Example 'H3' label </FluentLabel>
        <FluentLabel Typo="Typography.H4"> Example 'H4' label </FluentLabel>
        <FluentLabel Typo="Typography.H5"> Example 'H5' label </FluentLabel>
        <FluentLabel Typo="Typography.H6"> Example 'H6' label </FluentLabel>

      </FluentStack>
    </PagePane_MainContent>
    <PagePane_FooterContent>
      PagePane_FooterContent
    </PagePane_FooterContent>
    <AsidePane_HeaderContent>
      AsidePane_HeaderContent
    </AsidePane_HeaderContent>
    <AsidePane_MainContent>
      AsidePane_MainContent
    </AsidePane_MainContent>
    <AsidePane_FooterContent>
      AsidePane_FooterContent
    </AsidePane_FooterContent>
  </SitePage>
}
