@namespace TimeWarp.Architecture.Components
@inherits DisplayComponent

<button @attributes=Attributes class=@CssClass>
  @SvgIcon
  @if (ButtonText == null)
  {
    @ChildContent
  }
  else
  {
    @ButtonText
  }
</button>
