@inherits TimeWarpPageSubComponentBase

<FluentStack Class="page-pain" Orientation="Orientation.Vertical" Style="height: 100%" @attributes=Attributes>
  <PagePane_Header class="page-pane__page-pane_header" />
  <div class="page-pane__content placeholder" style="height: 100%">@TimeWarpPage?.PagePane_MainContent</div>
  <FluentSpacer />
  <PagePane_Footer class="page-pane__page-pane_footer" />
</FluentStack>
