@namespace TimeWarp.Blazor.Components

@inherits LayoutComponentBase

@Body
@*<NavBarDark />
<header>@HeaderTemplate</header>
<main>
  <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
    @Body
  </div>
</main>*@
