@namespace TimeWarp.Architecture.Components

@inherits ComponentBase

<Router AppAssembly="typeof(Web.Spa.Program).Assembly"  PreferExactMatches=@true>
  <Found Context="routeData">
    <RouteView RouteData=@routeData DefaultLayout=@typeof(TimeWarp.Architecture.Components.EmptyLayout) />
  </Found>
  <NotFound>
    <PageTitle>Not Found</PageTitle>
      <LayoutView Layout="@typeof(MainLayout)">
        <p role="alert">Sorry, there's nothing at this address.</p>
      </LayoutView>
  </NotFound>
</Router>
