@namespace TimeWarp.Blazor.Pages

@using TimeWarp.Blazor.Features.Bases
@using TimeWarp.Blazor.Components

@page "/"

@inherits BaseComponent

<Heading data-qa="HomeHeader">@ApplicationState.Name</Heading>

<a href="https://timewarpengineering.github.io/blazor-state/">Blazor State Documentation</a>

Welcome to your new app with Blazor-State management with an easily extensible pipeline utilizing <a href="https://github.com/jbogard/MediatR">MediatR.</a>

<a href="https://github.com/TimeWarpEngineering/blazor-state">Blazor State GitHub project</a>

<a href="https://chrome.google.com/webstore/detail/redux-devtools/lmhkpmbekcpmknklioeibfkpmmfibljd?hl=en">Redux Dev Tools Chrome Extension </a>

<SurveyPrompt Title="How is Blazor working for you?" />

<img src="/images/TheFreezeTeam/SOLID_Team.png" style="width:100%"/>
