@inherits TimeWarpPageSubComponentBase

@code {
  protected override void OnInitialized()
  {
    base.OnInitialized();
    BaseCssClass = "right-pane_header";
  }
}

<div class=@BaseCssBuilder>
  @TimeWarpPage?.RightPane_HeaderContent
</div>

<style>
  @($@"
    .{Id}.{BaseCssClass} {{
      width: 100%;
    }}
  ")
</style>
