@inherits TimeWarpPageSubComponentBase

@code {
  protected override void OnInitialized()
  {
    base.OnInitialized();
    BaseCssClass = "right-pane_footer";
  }
}

<div class=@BaseCssBuilder>
  @TimeWarpPage?.RightPane_FooterContent
</div>

<style>
  @($@"
    .{Id}.right-pane_footer {{
      padding: 0.5rem;
      width: 100%;
    }}
  ")
</style>
