@namespace TimeWarp.Architecture.Components

<div class="flex grow flex-col gap-y-5 overflow-y-auto bg-gray-900 px-6 pb-4">
    <div class="flex h-16 shrink-0 items-center justify-center">
        <Logo class="h-16 w-auto" />
    </div>
    <nav class="flex flex-1 flex-col">
        <ul role="list" class="flex flex-1 flex-col gap-y-4">
            <li>
                <ul role="list" class="-mx-2 space-y-1">
                    <SideNavBarLink Href=@HomePage.GetPageUrl()>
                        <SvgIcon>
                            <TimeWarp.HeroIcons.Outline.HomeIcon class="h-5 w-5"/>
                        </SvgIcon>
                        <ChildContent>
                            Home
                        </ChildContent>
                    </SideNavBarLink>

                </ul>
            </li>
            <li>
                <div class="text-xs font-semibold leading-6 text-gray-500">Pages</div>
                <ul role="list" class="-mx-2 mt-2 space-y-1">
                    <SideNavBarLink Href=@CounterPage.GetPageUrl() IconCharacter=@('C')>Counter</SideNavBarLink>
                    <SideNavBarLink Href=@WeatherForecastsPage.GetPageUrl() IconCharacter=@('W')>Weather Forecasts</SideNavBarLink>
                    @*#if (grpc)*@
                    <SideNavBarLink Href=@SuperheroPage.GetPageUrl() IconCharacter=@('S')>Superheros</SideNavBarLink>
                    @*#endif*@
                    <SideNavBarLink Href=@ChatPage.GetPageUrl()>
                        <SvgIcon>
              <TimeWarp.HeroIcons.Outline.ChatBubbleOvalLeftIcon class="h-5 w-5" />
                        </SvgIcon>
                        <ChildContent>
                            Chat
                        </ChildContent>
                    </SideNavBarLink>
                </ul>
            </li>
            <li>
                <div class="text-xs font-semibold leading-6 text-gray-500">Debug Pages</div>
                <ul role="list" class="-mx-2 mt-2 space-y-1">
                    <SideNavBarLink Href=@TestPage.GetPageUrl() IconCharacter=@('T')>Test Page</SideNavBarLink>
                    <SideNavBarLink Href=@EventStreamPage.GetPageUrl() IconCharacter=@('E')>Event Stream</SideNavBarLink>
                    <SideNavBarLink Href=@ServicesPage.GetPageUrl() IconCharacter=@('S')>Services</SideNavBarLink>
                </ul>
            </li>
            <li>
                <div class="text-xs font-semibold leading-6 text-gray-500">Swagger Docs</div>
                <ul role="list" class="-mx-2 mt-2 space-y-1">
                    @*#if (web)*@
                    <SideNavBarLink Href="/api/web-server/swagger/" Target=SideNavBarLink.TargetValue._blank>
                        <SvgIcon>
                          <TimeWarp.HeroIcons.Outline.BookOpenIcon class="h-5 w-5" />
                        </SvgIcon>
                        <ChildContent>
                            Web-Server Docs
                        </ChildContent>
                    </SideNavBarLink>

                    @*#endif*@
                    @*#if (api)*@
                    <SideNavBarLink Href="/api/api-server/swagger/" Target=SideNavBarLink.TargetValue._blank>
                        <SvgIcon>
              <TimeWarp.HeroIcons.Outline.BookOpenIcon class="h-5 w-5" />
                        </SvgIcon>
                        <ChildContent>
                            Api-Server Docs
                        </ChildContent>
                    </SideNavBarLink>
                    @*#endif*@
                </ul>
            </li>
            <li>
                <div class="text-xs font-semibold leading-6 text-gray-500">External links</div>
                <ul role="list" class="-mx-2 mt-2 space-y-1">
                    <SideNavBarLink Href="https://thefreezeteam.com/" Target=SideNavBarLink.TargetValue._blank>
                        <SvgIcon>
                          <TimeWarp.HeroIcons.Outline.LinkIcon class="h-5 w-5" />
                        </SvgIcon>
                        <ChildContent>
                            The Freeze Team
                        </ChildContent>
                    </SideNavBarLink>
                    <SideNavBarLink Href="https://github.com/TimeWarpEngineering/timewarp-architecture" Target=SideNavBarLink.TargetValue._blank>
                        <SvgIcon>
                            <TimeWarp.Simple.Icons.GithubIcon class="w-5 h-5 fill-slate-400" />
                        </SvgIcon>
                        <ChildContent>
                            GitHub
                        </ChildContent>
                    </SideNavBarLink>
                </ul>
            </li>
            <li class="mt-auto">
                <SideNavBarLink Href=@SettingsPage.GetPageUrl() >
                    <SvgIcon>
                      <TimeWarp.HeroIcons.Outline.CogIcon class="h-5 w-5" />
                    </SvgIcon>
                    <ChildContent>
                        Settings
                    </ChildContent>
                </SideNavBarLink>
            </li>
        </ul>
    </nav>
</div>
