@namespace TimeWarp.Architecture.Components.Pages.SitePage
@inherits BaseComponent

<FluentStack Class=@BaseCssBuilder.ToString() HorizontalAlignment=HorizontalAlignment.Start VerticalAlignment=VerticalAlignment.Center>
  <div class="twe-brand">
    <span class="twe-brand__mark" aria-hidden="true"></span>
    <span class="twe-brand__text">
      <span class="twe-brand__name">TimeWarp</span>
      <span class="twe-brand__sub">Architecture</span>
    </span>
  </div>
</FluentStack>
