@namespace TimeWarp.Blazor.Features.Applications.Components

@using TimeWarp.Blazor.Components
@using TimeWarp.Blazor.Features.Bases.Client

@inherits BaseComponent

<nav class="navbar fixed-bottom navbar-light bg-light">
  <BlazorLocation TestId="BlazorLocation" />
  <span>Version:@Version</span>
</nav>
