@namespace TimeWarp.Blazor.Client.ApplicationFeature
@inherits BaseComponent
<nav class="navbar fixed-bottom navbar-light bg-light">
  <BlazorLocation TestId="BlazorLocation" />
  <span>Version:@Version</span>
</nav>
