@namespace TimeWarp.Blazor.Features.Applications.Components
@inherits BaseComponent
@using TimeWarp.Blazor.Components

<nav class="navbar fixed-bottom navbar-light bg-light">
  <BlazorLocation TestId="BlazorLocation" />
  <span>Version:@Version</span>
</nav>
