@namespace TimeWarp.Blazor.Features.Applications.Components
@inherits BaseComponent

<nav class="navbar-collapse navbar-dark navbar">
  <div class="@NavMenuCssClass navbar-collapse">
    <NavLinks />
  </div>
</nav>
