@namespace TimeWarp.Architecture.Components

@if (!string.IsNullOrWhiteSpace(Url))
{
  <div class="@CssClass"><a href="@Url" class="break-words max-w-full inline-block whitespace-normal text-blue-500">@DisplayText</a></div>
}

@code {
  [Parameter]
  public string? Url { get; set; }

  [Parameter]
  public string? DisplayText { get; set; }

  [Parameter]
  public string CssClass { get; set; } = "text-sm text-gray-500";
}
