@namespace TimeWarp.Architecture.Pages
@inherits BaseComponent

@code
{
  public static Icon? NavIcon => new Icons.Regular.Size20.Home();
  public static string Title => "Home";

  private async Task FiveSecondTaskButtonClick() =>
    await ApplicationState.FiveSecondTask(CancellationToken.None);

  private async Task TwoSecondTaskButtonClick() =>
    await ApplicationState.TwoSecondTask(CancellationToken.None);

  private async Task ModalButtonClick() =>
    await ApplicationState.SetActiveModal(AssemblyInfoModal.ModalId);
}

<TimeWarpPage Title=@ApplicationState.Name>
  <div class="twe-stack">

    <Card Title="Welcome to TimeWarp.Architecture">
      A distributed .NET reference application and project template by
      <NavLink href="https://timewarp.enterprises/" target="_blank">TimeWarp Enterprises</NavLink>.
      It demonstrates an opinionated, batteries-included architecture you can clone and build on.
    </Card>

    <Card Title="Built with">
      <ul>
        <li>.NET 10 &amp; Blazor WebAssembly</li>
        <li><NavLink href="https://github.com/microsoft/fluentui-blazor" target="_blank">FluentUI Blazor v5</NavLink> + plain CSS design tokens</li>
        <li><NavLink href="https://timewarpengineering.github.io/timewarp-state/" target="_blank">TimeWarp.State</NavLink> (Redux-style state) with Redux DevTools</li>
        <li><NavLink href="https://github.com/jbogard/MediatR" target="_blank">MediatR</NavLink> for CQRS &amp; <NavLink href="https://fast-endpoints.com/" target="_blank">FastEndpoints</NavLink> for APIs</li>
        <li><NavLink href="https://learn.microsoft.com/dotnet/aspire/" target="_blank">.NET Aspire</NavLink> orchestration + YARP ingress</li>
      </ul>
    </Card>

    <Card Title="Try it">
      <FluentStack Orientation="Orientation.Horizontal" HorizontalGap="8" Wrap="true">
        <FluentButton Appearance="ButtonAppearance.Primary" OnClick=FiveSecondTaskButtonClick>Launch Five Second Task</FluentButton>
        <FluentButton Appearance="ButtonAppearance.Outline" OnClick=TwoSecondTaskButtonClick>Launch Two Second Task</FluentButton>
        <FluentButton Appearance="ButtonAppearance.Subtle" OnClick=ModalButtonClick>Show Modal</FluentButton>
      </FluentStack>
    </Card>

    <Card Title="Credits">
      Hero artwork from
      <NavLink href="https://thefreezeteam.com/" target="_blank">The Freeze Team</NavLink>,
      the TimeWarp Enterprises engineering blog.
    </Card>

  </div>
</TimeWarpPage>
