@inherits TimeWarpPageSubComponentBase

@code
{
  protected override void OnInitialized()
  {
    base.OnInitialized();
    BaseCssClass = "left-pane_main";
  }
}

<div class=@BaseCssBuilder>
  @TimeWarpPage?.LeftPane_MainContent
</div>

<style>
  @($@"
    .{Id}.left-pane_main {{
      height: 100%;
      width: 100%;
    }}
  ")
</style>
